.klant-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding-left: 50px;
    border-radius: 7px;
}

.klant-container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 30px;
}

.klant-container form .klant-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .klant-details .input-box {
    margin: 15px 0 10px 0;
    width: 33%;
}

#input-grow-1, #input-grow-2 {
    width: 49.8%;
}

.klant-details .input-box .details {
    display: block;
    font-weight: 400;
    margin-bottom: 5px ;
}

.klant-details .input-box input, .klant-details .input-box select {
    height:  50px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.klant-details .input-box input:focus {
    border-color: #77D22D;
}

.klant-details .input-box input:valid {
    border-color: #77D22D;
}

form .button {
    padding: 5px;
}

form #saveForm {
    margin-left: 550px;
    border-radius: 8px;
    transform: translateY(95%);
    background-color: #77D22D;
    color: white;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 5px;
    border-color: #77D22D;
    transition: all 0.5s ease;
    cursor: pointer;
}

.klant-container #deleteButton {
    position: relative;
    margin-left: 50px;
    border-radius: 8px;
    background-color: red;
    color: white;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 5px;
    border-color: red;
    cursor: pointer;
}

.klant-container #finishButton {
    position: relative;
    margin-left: 120px;
    border-radius: 8px;
    background-color: dodgerblue;
    color: white;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 5px;
    border-color: dodgerblue;
    cursor: pointer;
}

.klanten-table-div {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: #555555;
    color: white;
}


