.voorraad-body {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 10px;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    border-radius: 7px;
}

.voorraad-container {
    position: relative;
    width: 18%;
    min-width: 200px;
    max-width: 210px;
    height: 160px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.voorraad-footer {
    position: absolute;
    background-color: #555555;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    border-radius: 3px;

}

.voorraad-text {
    font-size: 20px;
}

.input-voorraad-edit {
    max-width: 35%;
    margin-top: 12px;
    margin-left: 10px;
}

#button-voorraad-delete {
    margin-left: 65px;
}


.voorraad-container-form {
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding-left: 50px;
    border-radius: 7px;
}

.voorraad-container-form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 30px;
}

.voorraad-container-form form .voorraad-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .voorraad-details .input-box {
    margin: 15px 0 10px 0;
    width: 33%;
}

#input-voorraad {
    width: 70% !important;
}

.voorraad-details .input-box .details {
    display: block;
    font-weight: 400;
    margin-bottom: 5px ;
}

.voorraad-details .input-box input, .voorraad-details .input-box select {
    height:  50px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.voorraad-details .input-box input:focus {
    border-color: #77D22D;
}

.voorraad-details .input-box input:valid {
    border-color: #77D22D;
}

form .button {
    padding: 5px;
}

form #saveForm {
    margin-left: 550px;
    border-radius: 8px;
    transform: translateY(95%);
    background-color: #77D22D;
    color: white;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 5px;
    border-color: #77D22D;
    transition: all 0.5s ease;
    cursor: pointer;
}




